<div class="card shadow-lg">
  <div class="card-header bg-secondary">
    <div class="text-center "><h2>User Applications List</h2></div>
  </div>
  <div class="card-body">
    <div class="mb-4" style="display: flex; flex-direction:row-reverse;">
      <div class="col-md-3">
        <form method="GET" action="">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search Users..." value="<%= context.search %>">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-bordered table-hover mb-5">
      <thead class="table-hover" style="background-color: #819293;">
        <tr style="color: white;">
          <th class="text-center">NO</th>
          <th class="col-lg-2 text-center">Username</th>
          <th class="col-lg-2 text-center">Email</th>
          <th class="col-lg-1 text-center">Status</th>
          <th class="col-lg-5 text-center">Resume</th>
          <th class="col-lg-1 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (context.applications && context.applications.length > 0) { %>
        <% context.applications.forEach((application, index) => { %>
        <tr>
          <td class="text-center align-middle"><%= index + 1 %></td>
          <td class="text-center align-middle">
            <%= application.username %>
          </td>
          <td class="text-center align-middle">
            <%= application.email %>
          </td>
          <td class="text-center align-middle text-capitalize">
            <% if (application.status === "submitted") {%>
            <div class="bg-primary py-2 px-3 rounded-pill"><%= application.status %></div>
            <% } else if (application.status === "reviewed") {%>
            <div class="bg-secondary py-2 px-3 rounded-pill"><%= application.status %></div>
            <% } else if (application.status === "interview") {%>
            <div class="bg-warning py-2 px-3 rounded-pill"><%= application.status %></div>
            <% } else if (application.status === "hired") {%>
            <div class="bg-success py-2 px-3 rounded-pill"><%= application.status %></div>
            <% } else if (application.status === "rejected") {%>
            <div class="bg-danger py-2 px-3 rounded-pill"><%= application.status %></div>
            <% }%>
          </td>
          <td class="text-center align-middle">
            <a target="_blank" href="<%= application.file_url %>"><i class="fas fa-external-link-alt"></i> <%= application.file_url %></a>
          </td>
          <td class="text-center align-middle">
           <a href="/admin/applications/<%= application.job_id %>/<%= application.user_id %>" class="btn btn-info">Details</a>
          </td>
        </tr>
        <% }) %>
        <% } else { %>
        <p class="text-center">No aplication yet !!.</p>
        <% } %>
      </tbody>
    </table>
    <div style="display: flex; flex-direction:row-reverse;">
      <div class="pagination">
        <% if (context.currentPage > 1) { %>
        <a class="btn btn-secondary mr-1"
          href="?page=<%= context.currentPage - 1 %>&limit=<%= context.limit %>">Previous</a>
        <% } %>

        <% for (let i = 1; i <= context.totalPages; i++) { %>
        <% if (i === context.currentPage) { %>
        <span class="btn btn-primary mr-1"><%= i %></span>
        <% } else { %>
        <a class="btn btn-light mr-1"
          href="?page=<%= i %>&limit=<%= context.limit %>"><%= i %></a>
        <% } %>
        <% } %>

        <% if (context.currentPage < context.totalPages) { %>
        <a class="btn btn-secondary"
          href="?page=<%= context.currentPage + 1 %>&limit=<%= context.limit %>">Next</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
